header{
    background: #4d607e;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 500;
}
.logo{
    padding: 8px;
    display: inline-block;
}
.date{
    float: right;
    font-size: 25px;
    color: black;
    margin: 20px;
}
.add{
    display: block;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 10%;
    left:50%;

}